@import "variables";
@import "mixins";
@import "body";

.navigation {
  min-height: 10vh;

  .container {
    padding: 0;

    .navbar {
      padding: 0.5rem 0;

      .navbar-nav {
        > * {
          text-decoration: none;
        }
      }

      a {
        img {
          width: 300px;
          @media only screen and (max-width: 1500px) {
            width: 230px;
          }
          @media only screen and (max-width: 1000px) {
            width: 150px;
          }

        }
      }

      .button {
        @media only screen and (max-width: 990px) {
          display: none;
        }
      }

    }

    .button {
      .btn {
        @include btnchr;
        padding: 0.7rem 3.2rem;
      }
    }
  }
}

